# Top level gitignore

# Temporary and backup files
**/_unused/*
**/_temp/*
**/temp/*
**/_bkp/*
**/_backup/*

# Log files
*.log


matlab_2021_10_05_before_copyObject/

# Files to exclude from ignore
!README.md
