# File: lazarus/.gitignore

*/*
!*/*.pas
!*/*.lfm
!*/*.lpi
!*/*.lpr
!*/*.lps
!*/*.ico
!*/*.res
!*/*.txt
!*/*.md
!*/*.sql
!*/*.py
!*/*.bat
!*/*.sh
!.gitignore
 
 
# Compilation output files
*.o
*.obj
*.exe
*.res
*.or
*.a

*.compiled
**/lib/
**/x86_64-win64/

# Auto backup files
**/backup/


*.lrs
*.ppu

# From Delphi
*.dcu
*.identcache
*.local

# Temporary files
**/__history/*

